.username {
  height: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
}

.username__form {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: none;
}

.username__input {
  font-size: 2rem;
  color: rgb(236, 236, 236);
}
.username__input::placeholder {
  color: white;
}

.username__input:focus-within {
  opacity: 70%;
  outline: none;
}

.username__button {
  font-size: 3rem;
  border-radius: 50%;
  margin-left: 0.7rem;
}

.username__name {
  font-size: 3rem;
  color: white;
  font-weight: bold;
}
