.username {
  height: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
}

.username__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.username__input {
  border: none;
  font-size: 3rem;
  text-align: center;
  cursor: pointer;
}
.username__input:focus-within {
  opacity: 70%;
}

.username__button {
  font-size: 3rem;
  border-radius: 50%;
  margin-left: 0.7rem;
}

.username__name {
  font-size: 3rem;
  color: rgba(19, 15, 64, 1);
  font-weight: bold;
}
