.nav {
  float: left;
  margin-right: 2rem;

  width: 10rem;
  height: auto;
  border-radius: 5px;
  background-color: rgba(247, 181, 94, 0.5);
  padding: 1rem;
}

.nav__timeline {
  /* font-size: 5rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav__timeline--time {
  font-size: 9rem;
  font-weight: bolder;
  color: rgba(238, 238, 238, 0.9);

  /* box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35); */
}

.nav__timeline--date {
  font-size: 1.7rem;

  color: rgba(207, 207, 207, 0.7);
  padding-left: 0.4rem;
}

.nav__weather {
  height: 10rem;

  color: rgb(255, 255, 255);
  margin-bottom: 1rem;

  display: grid;
  gap: 0.6rem;
  grid-template-rows: 3fr 2fr 3fr;
}

.nav__weather--country {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__weather--city {
  margin-right: 1rem;
  font-weight: bold;
}

.flagImg {
  width: 3rem;
}

.nav__weather--temp {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.nav__weather--emoji {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconImg {
  height: 8rem;
}
