.nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 90%;
  margin-top: 9rem;
}

.nav__timeline {
  font-size: 4rem;
}

.nav__timeline--time {
  font-size: 5.5rem;
  font-weight: 900;
  color: rgb(237, 212, 238);

  /* box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35); */
}

.nav__timeline--date {
  font-size: 1.7rem;

  color: rgb(177, 226, 202);
}

.nav__weather {
  color: rgb(219, 236, 248);
}
